<h1>All Trips</h1>
<hr />

<% if @trips.any? %>
	<% @trips.each do |trip| %>
		<%= link_to trip.name, trip_locations_path(trip) %>
	<% end %>
<% else %>
	<h3>No trips have been added.</h3>
<% end %>

<%= link_to 'New Trip', new_trip_path %>