<h1><%= @trip.name %>Locations</h1>
<hr />

<% if @locations.any? %>
	<% @locations.each do |location| %>
		<%= link_to location.name, trip_location_path(@trip, location) %>
	<% end %>
<% else %>
	<h3>No locations have been added.</h3>
<% end %>
